# Environment files
.env

# Runtime directories
/storage/
/config/
/logs/
/backups/

# Allow defaults
!/__defaults__/storage/
!/__defaults__/config/
!/__defaults__/logs/
!/__defaults__/backups/

# OS specific files
.DS_Store
Thumbs.db